.chat-main
  .group-info
    .group-left
      .left-1
        <メイン画面だよ！>
      .left-2
        <メンバー山口>
    .group-right
      %a(href="https://prog-teacher.com/") <えでぃっと>
  .message-list
    .name-time
      .name
        <俺様>
      .time
        <ついさっき>
    .message-text
      <俺だよ！オレオレ！100万貸して！>
    .name-time
      .name
        <吾輩>
      .time
        <ちょっと前>
    .message-text
      <吾輩だよ！名前はまだないけど。100万貸して！>
  .message-form
    <フォーム部分>
