.chat-main
  .group-info
    .group-left
      .left-1
        = @group.name
      .left-2
        Member:
        - @group.users.each do |u|
          = u.name

    .group-right
      .edit
        %a(class="edit-btn" href="https://prog-teacher.com/") Edit
  .MessageField
    = render @messages
    .Message
    .name-time
      .name
        <のび>
      .time
        <けっこう前>
    .message-text
      <ネコえも〜ん！100万詐欺に遭ったよ〜!>
    .name-time
      .name
        <ネコえもん>
      .time
        <すげ〜前>
    .message-text
      <どうしたんだい。またGにいじめられたのかい？>
  .footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form
        .form_contents
          %form( action="#")
          %input(class="input" type="text" name="name" placeholder="type a message")/
          %label{class: "input-box__image"}
            =icon('fas', 'image')
            %input{type: "file", class:"hidden"}
        %input(class="submit" type="submit" name="btn" value="ベネ（良し）")/