.chat-main
  .group-info
    .group-left
      .left-1
        <メイン画面だよ！>
      .left-2
        <メンバー山口>
    .group-right
      .edit
        %a(class="edit-btn" href="https://prog-teacher.com/") Edit
  .message-list
    .name-time
      .name
        <俺様>
      .time
        <ついさっき>
    .message-text
      <俺だよ！オレオレ！100万貸して！>
    .name-time
      .name
        <吾輩>
      .time
        <ちょっと前>
    .message-text
      <吾輩だよ！名前はまだないけど。100万貸して！>
    .name-time
      .name
        <のび>
      .time
        <けっこう前>
    .message-text
      <ネコえも〜ん！100万詐欺に遭ったよ〜！>
    .name-time
      .name
        <ネコえもん>
      .time
        <すげ〜前>
    .message-text
      <どうしたんだい。またGにいじめられたのかい？>
  .footer
    .form
      .form_contents
        %form( action="#")
        %input(class="input" type="text" name="name" placeholder="用件を聞こうか、、、")/
        %label{class: "input-box__image"}
        =icon('fas', 'image')
        %input(class="Hidden" type="file" name="message[image]" id="message_image")
      %input(class="submit" type="submit" name="btn" value="ベネ（良し）")/
    