.chat-main
  .group-info
    .group-left
      .left-1
        <メイン画面だよ！>
      .left-2
        <メンバー山口>
    .group-right
      %a(href="#") <えでぃっと>
  .message-list
    <リスト部分>
  .message-form
    <フォーム部分>
