.side-bar
  .top-items
    %h3.name
      = current_user.name
    %ul.icons
      %li<span class="logo"><i class='far fa-edit'></i></span>
      %li<i class='fas fa-cog'></i>
  .group-list
    .tech-logo
      <すいかバー>
    .side-text
      <あずきバー>