.side-bar
  .top-items
    .name
      <サイドバー>
    .icons
      <span class="logo"><i class='far fa-edit'></i></span>
      <i class='fas fa-cog'></i>
  .group-list
    .tech-logo
      <すいかバー>
    .side-text
      <あずきバー>